In [1]:
%load_ext autoreload
%autoreload 2

In [57]:
import json

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from tools import *
from league_api import *

In [15]:
list_data_files()

['.keep',
 'archive.zip',
 'challenger_match.csv',
 'challenger_match_V2.csv',
 'match_data_version1.csv',
 'match_data_version1.pickle',
 'match_data_version1_subset_1000.pickle',
 'match_data_version2.pickle',
 'match_loser_data_version1.csv',
 'match_loser_data_version1.pickle',
 'match_winner_data_version1.csv',
 'match_winner_data_version1.pickle']

In [42]:
create_subset('match_data_version1.pickle', 1000)

Saved to data/match_data_version1_subset_1000.pickle

In [22]:
match_df = load('match_data_version1_subset_1000.pickle')

In [23]:
match_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gameCreation           1000 non-null   float64
 1   gameDuration           1000 non-null   float64
 2   gameId                 1000 non-null   float64
 3   gameMode               1000 non-null   object
 4   gameType               1000 non-null   object
 5   gameVersion            1000 non-null   object
 6   mapId                  1000 non-null   float64
 7   participantIdentities  1000 non-null   object
 8   participants           1000 non-null   object
 9   platformId             1000 non-null   object
 10  queueId                1000 non-null   float64
 11  seasonId               1000 non-null   float64
 12  status.message         0 non-null      object
 13  status.status_code     0 non-null      float64
dtypes: float64(7), object(7)
memory usage: 117.2+ KB

In [6]:
match_df.head()

,gameCreation,gameDuration,gameId,gameMode,gameType,gameVersion,mapId,participantIdentities,participants,platformId,queueId,seasonId,status.message,status.status_code
0,1.585155e+12,1323.0,4.247263e+09,CLASSIC,MATCHED_GAME,10.6.314.4405,11.0,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420.0,13.0,NaN,NaN
1,1.585152e+12,1317.0,4.247156e+09,CLASSIC,MATCHED_GAME,10.6.314.4405,11.0,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420.0,13.0,NaN,NaN
2,1.585059e+12,932.0,4.243963e+09,CLASSIC,MATCHED_GAME,10.6.313.8894,11.0,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420.0,13.0,NaN,NaN
3,1.584978e+12,2098.0,4.241678e+09,CLASSIC,MATCHED_GAME,10.6.313.8894,11.0,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420.0,13.0,NaN,NaN
4,1.584973e+12,2344.0,4.241539e+09,CLASSIC,MATCHED_GAME,10.6.313.8894,11.0,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420.0,13.0,NaN,NaN

In [28]:
participants = match_df['participants']

In [29]:
participants

0      [{'participantId': 1, 'teamId': 100, 'champion...
1      [{'participantId': 1, 'teamId': 100, 'champion...
2      [{'participantId': 1, 'teamId': 100, 'champion...
3      [{'participantId': 1, 'teamId': 100, 'champion...
4      [{'participantId': 1, 'teamId': 100, 'champion...
                             ...
995    [{'participantId': 1, 'teamId': 100, 'champion...
996    [{'participantId': 1, 'teamId': 100, 'champion...
997    [{'participantId': 1, 'teamId': 100, 'champion...
998    [{'participantId': 1, 'teamId': 100, 'champion...
999    [{'participantId': 1, 'teamId': 100, 'champion...
Name: participants, Length: 1000, dtype: object

In [31]:
p = participants[0]

In [44]:
create_example_participant()

In [45]:
champion_id_to_champion = create_champion_dict()

In [59]:
for part in p:
    timeline = part['timeline']
    champion_id = part['championId']
    champion_id = str(champion_id)
    role = timeline['role']
    lane = timeline['lane']
    champion_name = champion_id_to_champion[champion_id]['id']
    print(role, lane, champion_id, champion_name)

DUO_CARRY MIDDLE 7 Leblanc
DUO_SUPPORT MIDDLE 350 Yuumi
SOLO TOP 266 Aatrox
NONE JUNGLE 517 Sylas
SOLO BOTTOM 110 Varus
DUO_SUPPORT BOTTOM 235 Senna
DUO_CARRY BOTTOM 81 Ezreal
SOLO MIDDLE 127 Lissandra
SOLO TOP 84 Akali
NONE JUNGLE 421 RekSai

In [56]:
display_item(1001)

In [58]:
display_champion('Aatrox')